/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* muslish font class */
.mulish-font{
    font-family: "Mulish", sans-serif;
}

/* inter font class */
.inter-font{
    font-family: "Inter", sans-serif;
}

.btn:hover{
    background-color: #797dfc4d;
    color: #797DFC;
    border: 1px solid #797DFC;
}

.hero-section{
    background: url('../assets/images/bgbanner.png'), #12132D;
    background-repeat: no-repeat;
    background-size: cover;
}

.join-forum-section{
    background-color: #12132D;
}